*{
  margin: 0;
  padding: 0;
}

.main-container{
  width: 60%;
  height: 300px;
  margin: 100px auto;
  background-color: pink;
  border: 2px solid black;
  box-shadow: 10px 10px 10px pink;
  border-radius: 20px;
}

.quote{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.quote>p{
  font-size: x-large;
  font-weight: 700;
}

.quote>span{
  font-size: x-large;
  font-weight: 700;
  padding: 0 5px;
}

.btn-container{
   height: 100px;
  /*display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-right: 10px; */
}

.btn-first{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.next-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px
}

.btn-first>p{
  font-size: larger;
  font-weight: 700;
  font-style: oblique;
}

.next-btn>button{
  padding: 13px 40px;
  border: none;
  border-radius: 8px;
  background-color: aqua;
  box-shadow: 5px 5px 5px 4px blue;
  letter-spacing: 2px;
  color: blueviolet;
  text-transform: uppercase;
  font-style: italic;
  font-size: medium;
  font-weight: 800;
  /* margin-right: 104px; */
}