.time-box{
  width: auto;
  margin: 0 300px;
  background-color:
   blanchedalmond;
  border: 2px solid black;
  padding: 40px 0;
  border-radius: 30px;
}



button:hover{
  box-shadow: 5px 10px 10px 2px gray;
 
}